body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

.nav-about-wrapper {
    background: url("../src/img/background-5.jpg");
    background-size: cover;
}


/* PDF Viewer stylings starts here */

.pdf-view {
    background-image: url("./img/resume-background.jpg");
    background-size: cover;
    text-align: center;
    align-items: center;
    padding: 20px 20px 300px;
    display: flex;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
}


.react-pdf__Page__textContent {
    display: none;
}

button.button-icon {
    margin: 5px;
}

.pdf-icon-view {
    display: flex;
}

.pdf-icon-item-icon {
    width: 80%;
}

.react-pdf__Page {
    max-height: 100%;
}


.react-pdf__Page__canvas {
    padding: 10px 0 0 0;
    margin: 0 auto;
    
}

  /* PDF Viewer stylings ends here */
  
@media only screen and (max-width: 1280px) {
    .nav-about-wrapper {
        background: url("../src/img/background-5.jpg");
        background-size: cover;
    }  
}

@media only screen and (max-width: 415px) {
    .react-pdf__Page__canvas {
        width: 397px !important;
        height: 562px !important;
    }

    .nav-about-wrapper {
        background: url("../src/img/background-5.jpg");
        background-size: cover;
    }
    
}
